@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
  font-family: "Merriweather", serif;
  background-color: #212529;
}

body{
  text-align: center;
  color: #212529;
  transition: background 0.2s linear;
}

body.dark{
  background-color: #292c35;
  color: white;
}

.horizontalLine{
  border: dotted black 10px;
  border-bottom: none;
  width: 5%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}


.themeButton{
  float: right;
  margin-right: 20px;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 4px;
  height: 26px;
  width: 50px;
  transform: scale(1.7);
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translate(24px);
}

.fa-moon{
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}












/* ------------------------------------------------------------------------------ Top-Container ---------------------------------------------------------------------------------------------*/


nav{
  font-family: 'ubuntu', sans-serif;
  clear: both;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 70px;
  background-color: black;
  color: white;
}

nav ul li{
  padding: 0 12px;
  cursor: pointer;
}

.navItems a{
  color: aliceblue;
  text-decoration: none;
}

.top-container{
  display: grid;
  grid-template-rows: auto;
  gap: 30px;
}

.bannerImage{
  background-color: #FFDE59;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bannerImageElements{
  margin-left: 20px;
  margin-right: auto;
  height: 300px;
}

.bannerImagText{
  margin-right: 20px;
  margin-left: auto;
  height: 350px;
}

.introSection{
  display: flex;
  align-items: center;
  gap: 40px;
  width: 90%;
  margin: auto;
}

.darkTheme{
  background-color: #212529;
  color: white;
}

.buttonColorChange{
  background-color: white;
  color: black;
}

.profilePicture{
  height: 300px;
  width: 300px;
  border-radius: 15%;
  border: 6px solid black;
  margin-left: 10px;
}

.hello{
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.intro{
  text-align: justify;
  font-weight: 500;
  font-size: larger ;
  flex: 1;
  line-height: 1.7;
}

.saurav{
  font-family: "Sacramento", cursive;
  font-size: 2.9rem;
  font-weight:bolder;
  margin-top: 25px;
  margin-bottom: 0;
}


/* ------------------------------------------------------------------------------ Mid-Container ---------------------------------------------------------------------------------------------*/


.mid-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.thumbnails{
  height: 300px;
  width: 450px;
  margin: 50px 0;
}

.thumbnails img{
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.card-text{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}


.projects-section{
  display: flex;
  flex-direction: column;
}

.projects-section-heading-h2{
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: underline #000000;
}

.projects-heading{
  margin-bottom: 15px;
  text-decoration: underline dashed #000000;
}

.web-dev-projects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.frontendProjects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.miniGames{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dsa-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}


.socials-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* ------------------------------------------------------------------------------ Mid-Container ---------------------------------------------------------------------------------------------*/


.bottom-container{
  display: flex;
  flex-direction: column;
}

.footer-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-buttons p{
  color: white;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
}

.footer-buttons a{
  text-decoration: none;
}

hr{
  margin-top: 25px;
}

.copyright{
  font-weight: bold;
  text-align: center;
}

.contactMe{
  background-color: green;
  padding: 0.5%;
  border-radius: 5%;
}

.contactMe p{
  color: white;
  font-size: x-large;
}


@media (max-width: 1000px){
  .frontendProjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .miniGames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .dsa-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  .socials-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .thumbnails{
    height: 500px;
    width: 750px;
    margin: 50px 0;
  }
  
  .thumbnails img{
    width: 100%;
    height: 100%;
    border-radius: 4%;
  }

  .contactMe{
    background-color: green;
    padding: 1%;
    border-radius: 5%;
  }
  
  .contactMe p{
    color: white;
    font-size: xx-large;
  }
}