body{
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1{
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2{
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.underLine{
  text-decoration: underline;
}

.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.topCloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomCloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mid-container{
  margin: 100px 0;
}

p{
  line-height: 2;
}

.horizontalLine{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.intro{
  width: 50%;
  margin: auto;
}

.profile-pic{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.cards{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.card-imgs{
  width: 400px;
  height: 250px;
  border-radius: 3%;
}

.card{
  flex-grow: 1;
  flex-shrink: 1;
  border: 0;
}

.card-text{
  font-size: 20px;
  align-content: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.bottom-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerElements{
  margin-left: 30px;
  margin-bottom: 0;
  border: 2px solid #eaf6f6;
  border-radius: 20%;
  padding: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

hr{
  margin-top: 25px;
}

.copyright{
  font-weight: bold;
}

a{
  text-decoration: none;
}