html{
  font-size: 20px;
  font-family: "Merriweather", serif;
}

body{
  color: #40514e;
  margin: 0;
  text-align: center;
}

.horizontalLine{
  border: dotted #eaf6f6 10px;
  border-bottom: none;
  width: 5%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}


/* ------------------------------------------------------------------------------ Top-Container ---------------------------------------------------------------------------------------------*/


.top-container{
  display: grid;
  grid-template-rows: auto;
  gap: 30px;
}

.header{
  background-color: #212529;
}

.introSection{
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.introDuction{
  margin-right: 20px;
}

.profilePicture{
  height: 300px;
  width: 300px;
  border-radius: 10%;
  border: 10px solid #40514e;
  margin-left: 10px;
}

.hello{
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.intro{
  text-align: justify;
  font-weight: 500;
  font-size: larger ;
  flex: 1;
  line-height: 1.7;
}

.saurav{
  font-family: "Sacramento", cursive;
  font-size: 2.9rem;
  font-weight:bolder;
  margin-top: 25px;
  margin-bottom: 0;
}


/* ------------------------------------------------------------------------------ Mid-Container ---------------------------------------------------------------------------------------------*/


.mid-container{
  display: flex;
  flex-direction: column;
}

.card img{
  height: 250px;
  width: 400px;
  border-radius: 4%;
}

.card-text{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}


.projects-section{
  display: flex;
  flex-direction: column;
}

.projects-section-heading{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline #DEE2E6;
}

.web-dev-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dsa-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.socials-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* ------------------------------------------------------------------------------ Mid-Container ---------------------------------------------------------------------------------------------*/


.bottom-container{
  display: flex;
  flex-direction: column;
}

.footer-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-buttons p{
  color: white;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
}

.footer-buttons a{
  text-decoration: none;
}

hr{
  margin-top: 25px;
}

.copyright{
  font-weight: bold;
  text-align: center;
}